<h1>Reviews</h1>

<div class="row">

  {{#each reviews}}
    <div class="col-sm-6 col-lg-4">
      <div class="card border-secondary mb-4">
        <img class="card-img-top" src="https://api.lorem.space/image/movie?w=800&h=800" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
          <h3 class="card-subtitle">{{this.movieTitle}}</h3>
          <!--p class="card-text">{{this.description}}</p-->
          <small>Rating: {{this.movieRating}} Stars</small>
          <small>{{this.reviewDate}}</small>
          <a href="/reviews/{{this._id}}" class="btn btn-secondary float-right">Read Review</a>
        </div>
      </div>
    </div>
  {{/each}}

</div>