<!-- views/reviews-show.handlebars -->

<p><a href="/" class="btn btn-secondary">< Back to Home</a></p>
<div class="row">
  <!--div class="col-xs-12 col-sm-7"><img class="poster pull-right" src="https://picsum.photos/800?text={{review.rating}}" alt="Card image cap"></!div-->
  <div class="col-xs-12">
    
    <h3>{{review.title}}</h3>
    <h2>{{review.movieTitle}}</h2>
    
    <img class="poster singleReviewPoster" src="https://picsum.photos/800?text={{review.rating}}" alt="Card image cap">
    <h3 class="sectionHeading">My Review...</h3>
    <p class="singleReviews" style="font-weight: 100;">{{review.description}}</p>
    <p>Rating: {{review.movieRating}} Stars</p>
    
  </div>
</div>
<div class="row py-5">
  <div class="col-12">
    <p><a href="/reviews/{{review._id}}/edit" class="btn btn-primary">Edit</a></p>
    <p><form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form></p>
  </div>
</div>
</div>